<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">{{moster.name}}</div>
            </div>
            <div class="right">
                <div id="hp">{{moster.hp}}</div>
                <img class="energy icon" src="assets/images/electric.png" />
            </div>
        </header>
        <figure id="art">
            <img src="assets/images/monter.png" />
            <figcaption>{{moster.figureCaption}}</figcaption>
        </figure>
        <div id="capacities">
            <div class="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="icon energy" src="assets/images/electric.png" />
                        <img class="icon energy" src="assets/images/electric.png" />
                    </div>
                    <div class="name">{{moster.attackName}}</div>
                    <div class="damage">{{moster.attackStrength}}</div>
                </div>
                <div class="description">
                    {{moster.attackDescription}}
                </div>
            </div>
        </div>
    </div>
</div>